/* PAGINATION---- */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.pagination-btn {
  padding: 8px 12px;
  border: 1px solid var(--color-neutral-darkest);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.pagination-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pagination-numbers {
  display: flex;
  gap: 4px;
}

.pagination-number {
  padding: 8px 12px;
  border: 1px solid var(--color-neutral-darkest);
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.pagination-number.active {
  background: var(--mariner-dark);
  color: var(--white);
}

.pagination-number:hover:not(.active) {
  background: var(--color-mariner-light);
}
